*{
    margin: 0;
    padding: 0;
}
body{
    height: 99vh;
    flex:none;
}
header{
    height: 12%;
    background-color: rgb(160, 212, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex:none;
}

.contain_header{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    flex:none;
}
.logo{
    width: 10%;
    height: 80%;
    margin-left: 2%;
    background-image: url(../Img/logo.png);
    background-size: cover;
    background-position: center;
}

.barra{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
    height: 80%;
    text-decoration:none ;
}



.barra>a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 2s;
}

.barra>a:Hover{

    transform: scale(1.1);
    transition: 2s;

}

nav{

    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}

.contain_nav{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contain_nav>button{
    width: 15%;
    height: 60%;
    border: none;
    border-radius: 20px;
    transition: 2s;
    background-color: rgb(206, 205, 205);
}

.contain_nav>button:hover{
    transform: scale(1.1);
    transition: 2s;
    background-color: rgb(155, 155, 155);
}


main{
    height: 78%;
    flex:none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contain_main{
    width: 85%;
    height: 99%;
    display: flex;
    flex:none;
    flex-direction: column;
    overflow: hidden;

}

.terapias{
    display: flex;
    width: 100%;
    height: 100%;
    flex: none;
    justify-content: space-around;
    align-items: center;
}

.barra_lateral{
    width: 20%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    flex:none;

}

.barra_lateral>button{
    width: 80%;
    height: 8%;
    border: none;
    border-radius: 20px;
    transition: 2s;
    background-color: rgb(206, 205, 205);
}

.barra_lateral>button:hover{
    transform: scale(1.1);
    transition: 2s;
    background-color: rgb(155, 155, 155);
}

.barra_lateral>button:visited{

    background-color: rgb(155, 155, 155);
}

.contenido_terapias{
    width: 76%;
    flex:none;
    height: 98%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;    border-radius: 10px;
    overflow: hidden;

}

.terapia{
    flex: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    justify-content: space-around;
    flex:none;
}

.ejercicios{

    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: none;

}

.ejercicios>img{
    width: 60%;
    height: 50%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ejercicios>.info{
    width: 80%;
    height: 40%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}
.seguimiento{
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

.seguimiento>button{
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 20px;
    transition: 2s;
    background-color: rgb(206, 205, 205);
}

.seguimiento>button:hover{
    transform: scale(1.1);
    transition: 2s;
    background-color: rgb(155, 155, 155);
}






/*seguimiento terapia*/

.cont_general{
    display: flex;
    width: 100%;
    height: 100%;
    flex: none;
}

.title_general{
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Seguimiento_terapia{
    flex-direction: column;
    align-items: center;
    flex:none;
}







/*CONTENEDOR COMUNICACION*/


.Comunicacion{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex:none;
}
.mensaje_llamativo {
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: #9dcded; /* Fondo amarillo */
    color: #1f1d1d; /* Color de texto */
    border-radius: 10px; /* Bordes redondeados */

}
.consulta{
    height: 8%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    color: #1f1d1d; /* Color de texto */
    border-radius: 10px; /* Bordes redondeados */
}

.select_especialidad{

    width: 40%;
    height: 80%;
    border-radius: 5px;

}

.consultar_especialistas{

    border: none;
    width: 20%;
    height: 80%;
    border-radius: 10px;
    background-color: #a8a7a7;
    cursor: pointer;
}

.contain_especialistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 68%;
    width: 90%;
    flex: none;
    overflow: auto;
}

.especialista{
    width: 30%;
    height: 60%;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.img_especialista{
    width: 50%;
    height: 55%;
    border-radius: 50%;
    border: 1px solid;
    background-image: url(../Img/doctor.png);
    background-size: cover;
    background-position: center;

}




/*RECORDATORIOS*/
.Recordatorio{
    display: flex;
    width: 100%;
    height: 100%;
    flex: none;
    justify-content: space-around;
    align-items: center;
    
}

.contain_recordatorios{

    width: 76%;
    height: 98%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;    border-radius: 10px;
    overflow: hidden;

}

.contain_r{
    display: flex;
    width: 100%;
    height: 100%;
    flex: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contenedor_crear{
    width: 80%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.img_crear{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-image: url();
    background-size: calc(100%)calc(100%);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.texto_crear{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 12%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tipo_terapia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 12%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.fecha_hora{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 12%;
    border-radius: 5px;
}

.fecha_hora>input{
    width: 40%;
    height: 90%;
    border-radius: 10px;
}

#crear_recordatorio{
    width: 20%;
    height: 8%;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}

.observacion{
    width: 100%;
    height: 100%;
    border: none;
    background-color: none;
}



/**/


.bandeja_recordatorios{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 75%;
    border-radius: 5px;
    overflow: auto;

}
.bandeja{
    width: 98%;
    height: 8%;
    flex: none;
    margin-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}



/*MENSAJES*/

.Configuracion{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:none;
    justify-content: space-around;
}
.contain_mensajes{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    overflow: auto;
}



.modal_alerta{
    display: none;
    z-index: 10;
    width: 0%;
    height: 10%;
    border-radius: 10px 0 0 10px;
    position: fixed;
    top: 0;
    right:  0;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    animation-name: example;
    animation-duration: 3s;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icono_modal{
    background-image: url(../Img/checked.png);
    border-radius: 50%;
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    flex: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}


.modal_mensaje{
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    filter: blur(5px);


    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#c_enviar_mensaje{
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid;

}

.especialista_1{

    width: 100%;
    height: 100%;
}

  
  @keyframes example {
    50%  {    width: 15%;}
    100% {     width: 0%;
        top: 0;
        right:  0;
    
}
  }